body {
    background-color: #252525;
    color: #eeeeee;
}

.ui.main.text.container, .ui.main.container {
    margin-top: 5rem;
    padding-bottom: 5rem;
}

::selection {
    background-color: #cccccc8a;
}

.ui.header {
    color: #eeeeee;
}

a {
    color: #7cb342;
}

a:hover {
    color: #6e9445
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

/* Dark mode modals :womk: */

.ui.modal.inverted.transition.visible.active, .ui.modal.inverted.transition.animating, .ui.modal>.content {
    background-color: #303030 !important;
    color: #eeeeee !important;
}

.ui.modal.inverted>.icon:first-child+* {
    background-color: #282828 !important;
    color: #eeeeee !important;
}

.ui.inverted.card {
    color: #eeeeee !important;
    background-color: #303030 !important;
    -webkit-box-shadow: 0px 1px 3px 0px #353535, 0px 0px 0px 1px #353535 !important;
    box-shadow: 0px 1px 3px 0px #353535, 0px 0px 0px 1px #353535 !important;
}

.ui.cards>.inverted.card>.content>.header, .ui.card>.content>.header {
    color: #eeeeee !important;
}

.ui.cards>.inverted.card .meta, .ui.card .meta {
    color: #eeeeee !important;
}